* {
  box-sizing: border-box; /*for grid*/
}

/* Header
------------------------------*/
.main-header {
  background-image: url(https://github.com/marieiscool/alfredos-honey/blob/master/images/honeycomb.jpg?raw=true);
  background-size: cover;
  background-position: left bottom;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 5px 32px #fff;
  color: #000;
  mix-blend-mode: darken;
}

/* Navigation */
#navbar {
  display: flex !important; /*bootstrap is overriding this*/
  justify-content: space-between;
  overflow: hidden;
  background-color: #fff;
  padding: 10px 10%;
}
#navline {
  margin: 0;
}

#navbar a {
  font-size: 22px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Images */
img {
  max-width: 100%;
  border-radius: 10px; /* Rounded corners */
}

#thursimg {
    border-radius: 7px;
}

#sotj {
  border-radius: 100%;
}

#spacer {
  border-radius: 0;
  width: 100%;
}

/* MARKET SECTION  */

.markets {
  display: grid;
  grid-template-rows: auto auto auto auto;
  margin: 40px;
}

.market-grid-item {

  text-align: center;
  font-size: 24px;
  padding-top: 18px;
}

/* ABOUT SECTION  */

.about-grid-container {
  display: grid;
  grid-template-rows: auto auto;
}
#about {
  margin: 15px 8%;
  overflow: auto;
  padding: 20px 0;
}

#about img {
  width: 100%;
  height: 100%;
}

#about p {
  text-align: justify;
}

/* lines */
hr {
  margin: 50px 0;
}

/* Text */

h2 {
  font-size: 28px !important; /*bootstrap override*/
  padding: 0 10px;
}

p {
  padding: 10px 10px 10px 0;
}

.sticky + main {
  padding-top: 60px;
}

/* footer */

footer p {
  padding: 30px;
}

/* MEDIA QUERIES */

/*       mobile */
@media only screen and (max-width: 414px) {
  h1 {
    font-size: 34px !important; /*bootstrap overriding font size*/
  }
}

/*       Tablet */
@media only screen and (min-width: 415px) and (max-width: 768px) {
  
  .about-grid-container {
    display: flex;
  }
  #about img {
    width: 100%;
    height: 100%;
  }
  #about p {
    padding-left: 20px;
  }
  
    .markets {
    display: grid;
    grid-template-columns: 50% 50%;
       
}
  #thursimg {
    width: 200px;
  }
  
  #sunimg {
    width: 175px;
  }
  
  .market-grid-item img {
    width: 130px;
  }
  
  
}

/*       Desktop */
@media only screen and (min-width: 768px)  {
  
  .about-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
  
  }
  .markets {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 10px;    
}
  #thursimg {
    width: 200px;
  }
  
  #sunimg {
    width: 175px;
  }
  
  .market-grid-item img {
    width: 130px;
  }
  
  #navbar {
  padding: 10px 30%;
  }
  
}

/* iphone 5*/
@media only screen and (max-width: 320px) {

.main-header {
text-align: justify;
padding: 0 80px 0 100px;
}

#navbar a{
font-size: 18px;
}
}