/* Images */
img {
  max-width: 100%;
  border-radius: 4px; /* Rounded corners */
}
#spacer {
  border-radius: 0;
  width: 100%;
  
}

/* Header
------------------------------*/
.main-header {
  background-image: url(https://live.staticflickr.com/2196/2268587409_45b9f80b0e_b.jpg);
   background-size:cover;
   min-height: 250px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 5px 32px #fff;
}

/* Navigation */
nav {
  display:flex !important; /*bootstrap was overriding this one thing*/
  justify-content: space-between;
  margin: 0 80px;
}
#navline {
  margin:0;
}

@media (max-width: 768px) {
  nav {
   display:block;
    padding: 10px 0;
    margin:0 20px;
  }
  .markets {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

/* About */
#about {
  margin: 15px 15%;
}

/* Market cards */

.markets {
  display: flex;
  justify-content: space-between;
  margin: 30px 8%;
}
.markets img {
  width: 200px;
}
figure {
  text-align: center;
  
}
figcaption {
  padding: 15px 0;
}

/* lines */
hr {
  margin: 50px 0;
}

/* Text */

h2 {
  padding: 0 10px 20px;
}

nav a {
  font-size: 22px;
}
p {
  padding: 40px 0 10px;
}